In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv('cricket(xl).csv')
print(df)

  competition  matches  runs
0        TEST      132  2506
1         ODI      271   935
2          FC      344  5572
3          LA      380  1456
4        TEST      240  2506
5         ODI      271  3506

In [3]:
df['runs'].mean()

2746.8333333333335

In [5]:
df['runs'].max()

5572

In [7]:
df['runs'].median()

2506.0

In [9]:
deptname=df.groupby('runs')['runs'].count()

In [13]:
print(deptname)

runs
935     1
1456    1
2506    2
3506    1
5572    1
Name: runs, dtype: int64

In [15]:
import time
%time
df

CPU times: total: 0 ns
Wall time: 0 ns

  competition  matches  runs
0        TEST      132  2506
1         ODI      271   935
2          FC      344  5572
3          LA      380  1456
4        TEST      240  2506
5         ODI      271  3506

In [21]:
filter_df = df[df['runs'] > 935]
print(filter_df)

  competition  matches  runs
0        TEST      132  2506
2          FC      344  5572
3          LA      380  1456
4        TEST      240  2506
5         ODI      271  3506

In [27]:
df['matches']+df['runs']

0    2638
1    1206
2    5916
3    1836
4    2746
5    3777
dtype: int64

In [29]:
df['matches'].mean()

273.0